In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
train = pd.read_csv("training_stats.csv", index_col=0)
dev = pd.read_csv("dev_stats.csv", index_col=0)
test = pd.read_csv("test_stats.csv", index_col=0)

In [3]:
train

                                training
# of texts                           434
# of MCQs                            962
# of D                      2.15 +- 0.54
Len(Text)               380.69 +- 332.80
Max(Text)                         2142.0
Len(A)                      4.19 +- 3.44
Max(A)                              23.0
Len(D)                      4.32 +- 3.84
Max(D)                                24
|Len(A) - Len(D)|           2.06 +- 2.12
Max(|Len(A) - Len(D)|)              13.5

In [4]:
df = pd.concat([train, dev, test], axis=1)

In [5]:
df

                                training               dev              test
# of texts                           434                64                45
# of MCQs                            962               126               102
# of D                      2.15 +- 0.54      2.13 +- 0.38      2.05 +- 0.22
Len(Text)               380.69 +- 332.80  352.10 +- 232.41  353.37 +- 263.73
Max(Text)                         2142.0            2140.0            1591.0
Len(A)                      4.19 +- 3.44      4.45 +- 3.73      4.58 +- 4.63
Max(A)                              23.0              19.0              28.0
Len(D)                      4.32 +- 3.84      4.09 +- 3.92      3.90 +- 3.63
Max(D)                                24                29                21
|Len(A) - Len(D)|           2.06 +- 2.12      2.04 +- 1.99      2.02 +- 2.61
Max(|Len(A) - Len(D)|)              13.5              10.0              19.0

In [6]:
print(df.to_latex())

\begin{tabular}{llll}
\toprule
 & training & dev & test \\
\midrule
# of texts & 434 & 64 & 45 \\
# of MCQs & 962 & 126 & 102 \\
# of D & 2.15 +- 0.54 & 2.13 +- 0.38 & 2.05 +- 0.22 \\
Len(Text) & 380.69 +- 332.80 & 352.10 +- 232.41 & 353.37 +- 263.73 \\
Max(Text) & 2142.0 & 2140.0 & 1591.0 \\
Len(A) & 4.19 +- 3.44 & 4.45 +- 3.73 & 4.58 +- 4.63 \\
Max(A) & 23.0 & 19.0 & 28.0 \\
Len(D) & 4.32 +- 3.84 & 4.09 +- 3.92 & 3.90 +- 3.63 \\
Max(D) & 24 & 29 & 21 \\
|Len(A) - Len(D)| & 2.06 +- 2.12 & 2.04 +- 1.99 & 2.02 +- 2.61 \\
Max(|Len(A) - Len(D)|) & 13.5 & 10.0 & 19.0 \\
\bottomrule
\end{tabular}